body {
    background-color: black;
}

.user {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 8px;
  right: 16px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile {
  background-image: url('/funnyz.jpg');
}
