body {
    background-color: black;
}


.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  right: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile {
  background-image: url('/funnyz.jpg');
}
